header {
  padding: 0 !important;
  background-color: #fbf9e9;
  border-bottom: 1px solid #c3d0ef;
}

header img {
  height: 3rem;
}

.navbar-toggler {
  background-color: #fbf9e9;
}
.menuItem {
  background-color: #fbf9e9;
  border: 1px solid #c3d0ef;
  color: #084aeb;
  transition: all 0.3s ease;
}
.menuItem:hover {
  color: #fbf9e9;
  background-color: #084aeb;
}

@media only screen and (max-width: 990px) {
  .menu {
    position: relative;
    z-index: 10000;
    top: -3rem;
  }
  .menuItem {
    margin-right: 0 !important;
    margin-bottom: 0.5rem;
  }
}
