body {
  background-color: #0b40e6;
  font-family: "Open Sans", sans-serif;
}
h1 {
  color: whitesmoke;
  font-family: "Prata", serif;
  font-size: 3rem;
  text-align: center;
}
h2 {
  font-family: "Prata", serif;
  text-align: center;
  color: whitesmoke;
  font-size: 1.7rem;
}

main {
  text-align: center;
  padding-left: 240px;
  padding-right: 240px;
}
footer {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.lead {
  color: whitesmoke;
  font-size: 2.2rem;
}
.btn-outline-light {
  border-color: whitesmoke;
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.navbar-brand img {
  height: 150px;
}

.btn-primary,
.btn-primary:hover {
  background-color: #00bbc9;
  border-color: #00bbc9;
}
p {
  font-size: 20px;
}
.logo {
  width: 150px;
}

.row {
  padding: 0px;
  margin-top: 0px;
}
.description {
  padding: 0 3rem;
}

footer p {
  text-decoration: none;
  font-size: 10px;
  padding: 0 3rem;
  color: whitesmoke;
}

.testimonials {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-content: space-around;
  margin-bottom: 100px;
  color: whitesmoke;
  font-family: "Roboto", sans-serif;
}

.tbox {
  width: 40%;
  padding: 30px;
  border: 1px solid whitesmoke;
  box-sizing: border-box;
  margin-top: 100px;
  border-radius: 0.5rem;
}
.contact {
  padding: 100px;
}

.redes {
  display: flex;
  position: relative;
  margin: 0 auto;
  justify-content: space-between;
}
.iglogo img {
  width: 45px;
}
.behancelogo img {
  width: 45px;
}
.inlogo img {
  width: 45px;
}
.testing {
  margin: 0 14rem;
  text-align: center;
}

@media only screen and (max-width: 990px) {
  .tbox {
    width: 100%;
    margin: 1rem 2rem;
  }
}
