/* STYLING GEMERAL */
body {
  font-family: "Open Sans", sans-serif;
  background-color: #0b40e6;
}
.container {
  flex-direction: row;
}

/* STYLING OF THE FOOTER */
footer {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

footer p {
  text-decoration: none;
  font-size: 10px;
  color: white;
  text-align: left;
}

.btn-outline-light {
  border-color: white;
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.navbar-brand img {
  height: 200px;
}

.btn-primary,
.btn-primary:hover {
  border-color: white;
  background-color: #0b40e6;
  color: white;
}
p {
  font-size: 20px;
}
.logo {
  width: 150px;
}

.src {
  width: 100%;
}

.boxe {
  width: 18rem;
  height: 100%;
}

.absolute-wrapper {
  position: absolute;
  display: flex;
  opacity: 0;
  justify-content: center;
  width: 100%;
  bottom: 1rem;
  transition: all 0.3s ease;
}

.absolute-wrapper a {
  font-size: 12px;
  transition: all 0.3s ease;
}

.absolute-wrapper a:hover {
  background-color: white;
  color: black;
}

.boxe:hover .absolute-wrapper {
  opacity: 1;
}
